aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
anyio==4.12.1
attrs==25.4.0
beautifulsoup4==4.14.3
bs4==0.0.2
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
construct==2.8.8
cryptography==45.0.7
curl_cffi==0.14.0
ECPy==1.2.5
EditorConfig==0.17.1
frozenlist==1.8.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
jsbeautifier==1.15.4
markdown-it-py==4.0.0
mdurl==0.1.2
multidict==6.7.1
pathvalidate==3.3.1
platformdirs==4.9.2
propcache==0.4.1
protobuf==6.33.5
pycparser==3.0
pycryptodome==3.23.0
pycryptodomex==3.23.0
Pygments==2.19.2
pymp4==1.4.0
pyplayready==0.8.2
pywidevine==1.9.0
PyYAML==6.0.3
requests==2.32.5
rich==14.3.3
six==1.17.0
soupsieve==2.8.3
ttconv==1.2.1
typing_extensions==4.15.0
ua-generator==2.0.21
Unidecode==1.4.0
urllib3==2.6.3
yarl==1.22.0
